*{
    color: rgb(255, 255, 255);
    font-family: sans-serif, cursive;
}

body{
    margin-top: 7rem;
    background: rgb(0, 0, 0);
}

.false_nav{
    background: rgb(35, 35, 35);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

ul{
    padding: 0;
    width: 50vw;
    max-width: 530px;
    min-width: 215px;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

