*{
    color: rgb(255, 255, 255);
    font-family: sans-serif, cursive;
}

body{
    margin-top: 7rem;
    background: rgb(25, 25, 25);
}

.false_nav{
    background: rgb(35, 35, 35);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

ul{
    padding: 0;
    width: 50vw;
    max-width: 530px;
    min-width: 215px;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

h1{
    text-decoration: underline rgb(130, 130, 130);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 1%;
}

.main-left{
    font-size: 2vw;
}

.main-left > .main-left-container > h3,
.main-left > .main-left-container > p{
    margin: 5px 0 10px;
}

.main-left > .main-left-container > h3{
    font-size: 6.4vw;
}

.main-left > .main-left-container > h4{
    margin: 0;
    color: rgb(0, 0, 255);
    font-size: 115%;
}

.main-left > .main-left-container > p{
    font-size: 75%;
}

.main-right > img{
    width: 50vw;
}

.proto_footer{
    margin: 0 0.5% 35px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: rgb(0, 0, 0);
}