*{
    color: rgb(255, 255, 255);
    font-family: sans-serif, cursive;
}


:root{
    --keen_color: rgb(0, 0, 255);
}

::selection{
    background: rgb(80, 80, 80);
}

body{
    margin-top: 7rem;
    background: rgb(25, 25, 25);
}

.false_nav{
    background: rgb(35, 35, 35);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    user-select: none;
}

ul{
    padding: 0;
    width: 50vw;
    max-width: 530px;
    min-width: 215px;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

h1{
    text-align: center;
    text-decoration: underline rgb(130, 130, 130);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 1%;
}

.main-left{
    font-size: 2vw;
}

.main-left > .main-left-container > h3,
.main-left > .main-left-container > p{
    margin: 5px 0 10px;
}

.main-left > .main-left-container > h3{
    font-size: 6.4vw;
}

.main-left > .main-left-container > h4{
    margin: 0;
    color: var(--keen_color);
    font-size: 115%;
}

.main-left > .main-left-container > p{
    font-size: 75%;
}

.main-right > img{
    width: 50vw;
}

.proto_footer{
    margin: 0 0.5% 35px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: rgb(0, 0, 0);
}

.proto_footer_left > h5, .proto_footer_right > h5{
    margin-top: 15px;
    margin-bottom: 5px;
}

.proto_footer_left > .btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
}

.btn-container > button{
    font-size: 10px;
    font-weight: bold;
    background: var(--keen_color);
    border: solid var(--keen_color) 1px;
    border-radius: 10px;
    padding: 5px 0;
    width: 115px;
    margin-bottom: 10px;
}

.proto_footer_right{
    width: 60%;
}

.proto_footer_right > .investor{
    padding: 35px 0 45px;
}

.proto_footer_right > .investor > .investor-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.investor-container > img{
    width: 60px;
}

/* ------------------- Media Screen ------------------- */

@media screen and (max-width: 615px) {
    body{
        margin: 110px 0 0;
        overflow-x: hidden;
    }

    .false_nav{
        justify-content: space-evenly;
        padding: 5px 0;
    }

    h1{
        font-size: 20px;
    }

    main{
        flex-direction: column;
        margin: 0 5%;
    }

    .main-left{
        font-size: 15px;
    }

    .main-left > .main-left-container > h3,
    .main-left > .main-left-container > p{
    margin: 10px 0 20px;
    }

    .main-left > .main-left-container > h3{
        font-size: 40px;
    }
    
    .main-left > .main-left-container > h4{
        font-size: 17.25px;
    }

    .main-right > img{
        margin-bottom: 40px;
    }

    .proto_footer{
        margin: 0;
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    .proto_footer_left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-container > button{
        height: 30px;
    }

    .proto_footer_right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proto_footer_right{
        width: 100%;
    }

    .proto_footer_right > .investor > .investor-container{
        justify-content: space-around;
        width: 90vw;
    }
}